<h1>Listing concepts</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td>0</td>
        <td><%= link_to concept.name, concept %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Concept %>
  <%= link_to 'New Concept', new_concept_path %>
<% end %>
