<p>
  <strong>Name:</strong>
  <%= @concept.name %>
</p>
<p>
  <strong>Creator:</strong>
  <% if @concept.user %>
    <%= @concept.user.name %>
  <% else %>
      not available
  <% end%>
</p>

<% if can? :manage, @concept %>
  <%= link_to 'Edit', edit_concept_path(@concept) %> |
  <%= link_to 'Delete', @concept, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', concepts_path %>
