<!DOCTYPE html>
<html>
<head>
  <title>Conceptor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Conceptor', root_url %></h1>
  
	<p>
    <% if current_user %>
      Logged in as <%= current_user.name %> (<%= link_to "Log Out", logout_path %>)
    <% else %>
	    <%= link_to "Sign Up", signup_path %> or 
      <%= link_to "Log In", login_path %>
    <% end%>
	</p>

  <p>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
